<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans&display=swap" rel="stylesheet">
    <!-- FRAMEWORK -->
    <link rel="stylesheet" href="framework.css">

    <!-- https://fontawesome.com/v4.7.0/icons/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <!-- MyCSS -->
    <link rel="stylesheet" href="/scripts/style.css">

    <!-- Vue JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- JSON -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- SASS Laravel Mix -->
    <link rel="stylesheet" href="dist/style.css">

    <title>Edu Project</title>

</head>

<body>
    <div id="app">
        <header>
            <div class="backgroundimg">
                <div class="salmonlayer">
                    <nav>
                        <div class="nav-logo">
                            <div class="img-box">
                                <img src="img/theme_eduprime_logo.png">
                            </div>
                        </div>
                        <div class="nav-link">
                            <ul>
                                <li v-for="x in navlinks" class="nav_tab"@click="selectnavlink(x)">
                                    <a :class="{yellowfont: x.name === activeNavlink.name}">
                                        {{x.name}} 
                                        <div class="img-box" v-if="x.arrow"> 
                                            <i class="fas fa-sort-down"></i></a>
                                        </div>
                                </li>
                                <li><a  class="yellow yellownav btnlogo" v-model="">VIEW COURSES </a> </li>

                            </ul>
                        </div>

                        <!-- BURGER
                        <div class="menu-collpase">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div> -->

                    </nav>
                    <div class="hero">
                        <div class="flexc">
                            <h1>Key to your success</h1>
                            <div class="undertitles">
                                EduPrime is the most versatile WordPress theme for educational purposes, showcasing
                                universities, courses, secondary schools etc.
                            </div>
                            <div class="buttons flex">
                                <a class="yellow btnlogo"  role="button">
                                    <div class="logo_box">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                    Search courses
                                </a>
                                <a class="white btnlogo"  role="button">
                                    <div class="logo_box">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                    </div>
                                    Apply for university
                                </a>
                            </div>
                        </div>
                        <div class="abs_side"></div>
                    </div>
                </div>
                <div class="abs_wavebot">
                    <div class="img-box">
                        <img src="img/Wave-1.png">
                    </div>
                </div>
            </div>
        </header>

        <main>
            <!-- 1-section -->
            <section class="bgwhite section1">
                <div class="margin_page">
                    <div class="flex">
                        <div class="descr col-6">
                            <h2>Thousands of courses for any type of student</h2>
                            <div class="undertitles">
                                At EduPrime, it doesn't matter what domain you wish to pursue a career in. Here you can
                                find a course that satisfies your needs within a click away and applies for a course in
                                a matter of minutes. EduPrime is ranked as the most versatile university in the world,
                                thanks to the number of courses it provides.
                            </div>
                            <div class="buttons flex">
                                <a class="yellow btnlogo"  role="button">
                                    Browse through courses
                                </a>
                            </div>
                        </div>
                        <div class="big-img col-6">
                            <div class="img-box">
                                <img src="img/Graduation-Illustration.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="flexc">
                        <h2>Faculties available at EduPrime</h2>
                        <div class="undertitles text-center">
                            A single university with a load of courses, tailored <br>
                            to satisfy any student's needs.
                        </div>
                        <div class="faculties flex">
                            <div v-for="faculty in facultiesList" class="faculty-box" @click="selectfaculty(faculty)"
                                :class="{activefaculties: activeFaculty.name === faculty.name}">
                                <div class="img-box">
                                    <img :src="`${faculty.img}`">
                                </div>
                                <span>{{faculty.name}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="flex faculty_tab">
                        <div class="big-img col-6">
                            <div class="img-box">
                                <img :src="`${activeFaculty.bigimg}`">
                            </div>
                        </div>
                        <div class="descr col-6">
                            <h2>{{activeFaculty.name}}</h2>
                            <div class="undertitles">
                                {{activeFaculty.descr}}
                            </div>
                            <div class="buttons flex">
                                <a class="salmon btnlogo"  role="button">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="abs_wavebot">
                    <div class="img-box">
                        <img src="img/svg/svg-0.svg">
                    </div>
                </div>
            </section>

            <!-- 2-section -->
            <section class="bgsalmon section2">
                <div class="margin_page">
                    <!-- University Year -->
                    <div class="flexc timeline_section reuseflexc">
                        <div class="img-box overtitleimg">
                            <img src="img/Clock-and-Bell.png" alt="">
                        </div>
                        <h2 class="redtext">University Year</h2>
                        <div class="timeline">
                            <div class="up">
                                <div class="flex">
                                    <div class="timeline_descr flexc">
                                        <h3>Demo Classes</h3>
                                        <div class="undertitles">In the first week, students try to accommodate with the
                                            teaching style and choose their optimal courses.</div>
                                    </div>
                                    <div class="timeline_descr flexc">
                                        <h3>Graduation Day</h3>
                                        <div class="undertitles">On the day of the graduation, all students father for
                                            the ceremony and then network and party among others.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-box">
                                <img src="img/Timeline-Item.png" alt="">
                            </div>
                            <div class="down">
                                <div class="flex">
                                    <div class="timeline_descr flexc">
                                        <h3>Orientation</h3>
                                        <div class="undertitles">First day of the university year, all students gather
                                            for the opening ceremony and then network with others.</div>
                                    </div>
                                    <div class="timeline_descr flexc">
                                        <h3>Evaluation</h3>
                                        <div class="undertitles">At the end of a semester, students take a general
                                            evaluation test for every subject they're learning.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Upcoming Events -->
                    <div class="flexc upcoming_events reuseflexc">
                        <div class="img-box overtitleimg">
                            <img src="img/upcoming-events-calendar-icon.png" alt="">
                        </div>
                        <h2>Upcoming Events</h2>
                        <div class="events_list flex">
                            <div class="col-4 event">
                                <div class="flexc">
                                    <h4>Coaching Sessions</h4>
                                    <div class="event_date undertitles">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        20 May 21:30 PM
                                    </div>
                                    <div class="event_descr undertitles">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil qui quas aperiam
                                        quibusdam quisquam suscipit odit illum porro perferendis, tenetur, voluptate
                                        iure fugit, cum officia dolore eum quaerat quam eaque!
                                    </div>
                                </div>
                                <div class="buttons flex">
                                    <a class="salmon btnlogoevent"  role="button">
                                        <div class="logo_box">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                        Find More
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 event">
                                <div class="flexc">
                                    <h4>Coaching Sessions</h4>
                                    <div class="event_date undertitles">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        24 Mar 18:00 PM
                                    </div>
                                    <div class="event_descr undertitles">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil qui quas aperiam
                                        quibusdam quisquam suscipit odit illum porro perferendis, tenetur, voluptate
                                        iure fugit, cum officia dolore eum quaerat quam eaque!
                                    </div>
                                </div>
                                <div class="buttons flex">
                                    <a class="salmon btnlogoevent"  role="button">
                                        <div class="logo_box">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                        Find More
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 event">
                                <div class="flexc">
                                    <h4>Coaching Sessions</h4>
                                    <div class="event_date undertitles">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        12 Feb 13:30 PM
                                    </div>
                                    <div class="event_descr undertitles">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil qui quas aperiam
                                        quibusdam quisquam suscipit odit illum porro perferendis, tenetur, voluptate
                                        iure fugit, cum officia dolore eum quaerat quam eaque!
                                    </div>
                                </div>
                                <div class="buttons flex">
                                    <a class="salmon btnlogoevent"  role="button">
                                        <div class="logo_box">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </div>
                                        Find More
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="buttons">
                            <a class="yellow btnlogo"  role="button">
                                View All Events
                            </a>
                        </div>
                    </div>
                </div>
                <div class="abs_wavebot">
                    <div class="img-box">
                        <img src="img/svg/svg-1.svg">
                    </div>
                </div>
            </section>

            <!-- 3-section -->
            <section class="bgwhite section3">
                <div class="margin_page">
                    <div class="flexc">

                        <!-- Latest Courses -->
                        <div class="latest_courses white_spacing">
                            <div class="flexc unset">
                                <h2>Latest Courses</h2>
                                <div class="course_list flex">

                                    <div class="col-3 course flexc">
                                        <div class="flexc">
                                            <div class="img-box">
                                                <img src="img/Decisions-icon.png" alt="">
                                            </div>
                                            <h3>Make Better Decisions</h3>
                                            <div class=" undertitles">
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                                Teacher: <span>James Colins </span>
                                            </div>
                                            <div class=" undertitles">
                                                <i class="fa fa-money" aria-hidden="true"></i>
                                                Price: <span>$21.00</span>
                                            </div>
                                        </div>
                                        <div class="buttons flex">
                                            <a class="salmon btnlogoevent"  role="button">
                                                <div class="logo_box">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </div>
                                                View Course
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-3 course flexc">
                                        <div class="flexc">
                                            <div class="img-box">
                                                <img src="img/Speaker-icon.png" alt="">
                                            </div>
                                            <h3>How to be a speaker</h3>
                                            <div class=" undertitles">
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                                Teacher: <span>James Colins </span>
                                            </div>
                                            <div class=" undertitles">
                                                <i class="fa fa-money" aria-hidden="true"></i>
                                                Price: <span>Free</span>
                                            </div>
                                        </div>
                                        <div class="buttons flex">
                                            <a class="salmon btnlogoevent"  role="button">
                                                <div class="logo_box">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </div>
                                                View Course
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-3 course flexc">
                                        <div class="flexc">
                                            <div class="img-box">
                                                <img src="img/Network-icon.png" alt="">
                                            </div>
                                            <h3>Network Introductions</h3>
                                            <div class=" undertitles">
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                                Teacher: <span>James Colins </span>
                                            </div>
                                            <div class=" undertitles">
                                                <i class="fa fa-money" aria-hidden="true"></i>
                                                Price: <span>Free</span>
                                            </div>
                                        </div>
                                        <div class="buttons flex">
                                            <a class="salmon btnlogoevent"  role="button">
                                                <div class="logo_box">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </div>
                                                View Course
                                            </a>
                                        </div>
                                    </div>

                                    <div class="col-3 course flexc">
                                        <div class="flexc">
                                            <div class="img-box">
                                                <img src="img/Brand-icon.png" alt="">
                                            </div>
                                            <h3>Brand Management</h3>
                                            <div class=" undertitles">
                                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                                Teacher: <span>James Colins </span>
                                            </div>
                                            <div class=" undertitles">
                                                <i class="fa fa-money" aria-hidden="true"></i>
                                                Price: <span>Free</span>
                                            </div>
                                        </div>
                                        <div class="buttons flex">
                                            <a class="salmon btnlogoevent"  role="button">
                                                <div class="logo_box">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </div>
                                                View Course
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- The most efficient examination method -->
                        <div class="examination_method white_spacing">
                            <div class="flex">
                                <div class="descr col-6">
                                    <h2>The most efficient examination method</h2>
                                    <div class="undertitles">
                                        EduPrime has gathered teachers from around the globeto brainstorm in order to
                                        facilitate the evaluation of our students. Every teacher from our university has
                                        an influence on how students are evaluated at his/her subject.
                                    </div>
                                    <div class="buttons flex">
                                        <a class="salmon btnlogo"  role="button">
                                            Discover the Method
                                        </a>
                                    </div>
                                </div>
                                <div class="big-img col-6">
                                    <div class="img-box">
                                        <img src="img/Exam-Illustration.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Variable fees for international students -->
                        <div class="variable_fees white_spacing">
                            <div class="flex">
                                <div class="big-img col-6">
                                    <div class="img-box">
                                        <img src="img/Girl-Illustration.png" alt="">
                                    </div>
                                </div>
                                <div class="descr col-6">
                                    <h2>Variable fees for international students</h2>
                                    <div class="undertitles">
                                        EduPrime has gathered teachers from around the globe to brainstorm in order to
                                        facilitate the evaluation of our students. Every teacher from our university has
                                        an influence on how students are evaluated at his/her subject.
                                    </div>
                                    <div class="buttons flex">
                                        <a class="salmon btnlogo"  role="button">
                                            List of Fees
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!-- 4-section -->
            <section class="bgsalmon section4">
                <div class="margin_page">
                    <div class="flex">
                        <h5>Subscribe Now to Our Newsletter !</h5>
                        <div class="input flex">
                            <input type="text" placeholder="Email address..." id="email_input" v-model="emailInput"
                                @keyup.enter="subToNewsletter" @keyup.esc="emailInput = ''">
                            <div class="logo_box flexc" @click="subToNewsletter">
                                <i class="fab fa-telegram-plane"></i>
                            </div>
                            <!-- Quando scrivi in Input compare una X -->
                            <a  class="btn-link" v-if="emailInput">
                                <i class="fas fa-times" @click.prevent="emailInput = ''"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 5-section -->
            <section class="bgwhite section5">
                <div class="margin_page">
                    <div class="flexc">
                        <h2>Partners</h2>
                        <div class="undertitles">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews, Iterative
                            approaches to corporate strategy.
                        </div>
                        <div class="partners_list flex">
                            <div class="img-box">
                                <img src="img/partner-2.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="img/partner-3.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="img/partner-4.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="img/partner-5.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="img/partner-6.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="img/partner-8.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="img/partner-1.png" alt="">
                            </div>
                            <div class="img-box">
                                <img src="img/partner-7.png" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="margin_page">
                <div class="flex">
                    <!-- Big Logo Sect -->
                    <div class="EduPresentation flexc col-4">
                        <div class="img-box">
                            <img src="img/theme_eduprime_logo.png">
                        </div>
                        <div class="undertitles">
                            EduPrime is the most versatile WordPress theme for educational purposes, showcasing
                            universities, courses, secondary schools etc.
                        </div>
                        <div class="socials flex">
                            <div class="logo_box facebook flexc">
                                <i class="fab fa-facebook-f"></i>
                            </div>
                            <div class="logo_box twitter flexc">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="logo_box ig flexc">
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Links -->
                    <div class="footer_links flex col-4">
                        <ol>
                            <li class="liHead">
                                <h3>Get EduPrime</h3>
                            </li>
                            <li><a >Request a website</a></li>
                            <li><a >Browse Themes</a></li>
                            <li><a >Payment options</a></li>
                            <li><a >Support System</a></li>
                            <li><a >Checkout</a></li>
                            <li><a >Purchase Theme</a></li>
                        </ol>
                        <ol>
                            <li class="liHead">
                                <h3>Networking</h3>
                            </li>
                            <li><a >Purchase Theme</a></li>
                            <li><a >Our Benefits</a></li>
                            <li><a >Our Team</a></li>
                            <li><a >Our Services</a></li>
                            <li><a >Other Products</a></li>
                            <li><a >My Account</a></li>
                        </ol>
                    </div>

                    <div class="search_section col-4">
                        <div class="flexc">
                            <div class="input flex">
                                <input type="text" placeholder="Search..." id="email_input" v-model="searchInput"
                                    @keyup.esc="searchInput = ''" @keyup.enter="searchBox">
                                <div class="logo_box flexc" @click="searchBox">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                                <!-- Quando scrivi in Input compare una X -->
                                <a  class="btn-link" v-if="searchInput">
                                    <i class="fas fa-times" @click.prevent="searchInput = ''"></i>
                                </a>
                            </div>

                            <h6>Search categories</h6>
                            <div class="buttons flex">
                                <button>ECONOMY</button>
                                <button>DESIGN</button>
                                <button>COACHING</button>
                                <button>BUSINESS</button>
                                <button>MEDICINE</button>
                                <button>LAW</button>
                                <button>FITNESS</button>
                            </div>
                            <div class="modeltheme">ModelTheme. All rights reserved.</div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="abs_pageup">
                <a href="#" class="logo_box">
                    <img src="img/back-to-top-arrow.svg" alt="">
                </a>
            </div>
            <div class="abs_msg">
                <div class="flexc">
                    <a class="img-box">
                        <i class="fas fa-dollar-sign"></i>
                        Purchase Theme
                    </a>
                    <a class="img-box">
                        <i class="fab fa-ethereum"></i>
                        Related Themes
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <!-- My JS -->
    <script src="scripts/faculties.js"></script>
    <script src="scripts/myvue.js"></script>
    <script src="https://unpkg.com/@jeremyhamm/vue-slider"></script>

</body>

</html>