//buttons
a,
button {
  @include default_btn;
  
  &.btnlogo{
    
    font-size: $font_sizebtn;
    padding: 18px 40px;
    transition: color $transition_duration;
    border-radius: 30px;
    display: flex;
    align-items: center;

    &:hover{
      -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15); 
        box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
    }

    //YELLOW BTN
    &.yellow{
      color: $fontwhite;
      background-color: $bgyellow;

      .icon_box{
        width: 15px;
        height: 15px;
        margin-right: 3px;
      }

      &.yellownav{

        &:hover{
          // "VIEW COURSES" btn
          color: $fontsalmon;
          background-color: $bgwhite;
        }
      }

      &:hover {
        // "View All Events" btn
        background-color: $bgsalmon;
      }

      &.btn_browse{

        &:hover{
          // "Browse though courses" btn
          background-color: $hoverbrowsebgcolor;
        }
      }
    }

    //WHITE BTN
    &.white{
      color: $fontsalmon;
      background-color: $bgwhite;

      &:hover{
        // "Apply for university" btn
        color: $fontwhite;
        background-color: $bgyellow;
      }
    }

    //SALMON BTN
    &.salmon{
      color: $fontwhite;
      background-color: $bgsalmon;

      &:hover{
        //"list of Fees" btn
        background-color: $bgyellow;
      }
    }

    .logo_box{
      margin-right: 8px;
    }
  }
}

//Upcoming Events > btn event
a,
button {
  @include default_btn;
  &.btnlogoevent{
    font-size: $font_sizebtn;
    padding: 8px 20px;
    transition: color $transition_duration;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: $fontwhite;
    background-color: $bgsalmon;
    
    -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
    &:hover{
      background-color: $bgyellow;
    }
    .logo_box{
      margin-right: 8px;
    }
  }
}
input{
  @include default_btn;
  padding: 18px 20px;
  transition: color $transition_duration;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  .logo_box{
    margin-right: 8px;
  }
}