header{
    color: $fontwhite;
    .backgroundimg{
        position: relative;
        background-image: url("/img/theme_slider2_bg-1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 1000px;
        .salmonlayer{
            background-color: $bgsalmonop;
            nav{
                opacity: 1;
                padding: 40px;
                display: flex;
                align-items: center;
                .nav-logo{
                    flex: 1;
                    .img-box{
                        width: 220px;
                    }
                }
                .nav-link{
                    ul{
                        display: flex;
                        align-items: center;
                        li{
                            margin: 0 10px;
                            font-weight: 100px;
                        }
                    }
                }
            }
        }
    }
    .hero{
        height: 450px;
        max-width: 600px;
        margin: 30px auto;
        .flexc{
            .undertitles{
                color: $fontwhiteop;
                font-size: $font_sizeuthero;
            }
            @include flexcolcenter;
            text-align: center;
            .buttons{
                padding: 50px 0;
                .yellow{
                    margin: 0 30px;
                }
            }
        }
    }
}