main{
    //main common styles
    section{
        position: relative;
        overflow:hidden;
        padding: 50px 0;
        .abs_wavebot{
            width: 200%;
        }
    }
    .bgwhite{
        color: $fontdarkgreyblue;
    }
    .bgsalmon{
        background-color: $bgsalmon;
        color: $fontwhite;
    }
    .section1{
        padding: 100px 0;
        .abs_wavebot{
            bottom: -1px;
        }
        @media screen and (min-width: 651px) and (max-width: 960px){
            .buttons{
                justify-content: center;
            }
        }
    }
    .buttons{
        padding: 35px 0;
    }
    .big-img{
        margin: auto;
    }

    //dedicated
    .flex{
        .descr{
            padding: 0 20px;
        }
        .big-img{
            padding: 50px ;
            height: 350px;
            width: 465px;
            min-height: 350px;
            min-width: 465px;
        }
    }
    .flexc{
        @include flexcolcenter;

        .faculties{
            width: 100%;
            margin: 20px 0;
            .faculty-box{
                @include flexcolcenter;
                width: calc(100%/5);
                color: $fontsalmon;
                padding: 20px 0;

                &.activefaculties{
                    color: $fontwhite;
                    background-color: $bgsalmon;
                    cursor: pointer;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }

                &:hover{
                    background-color: $bgsalmon;
                    color: $fontwhite;
                    cursor: pointer;
                    opacity: 0.6;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }

                .img-box{
                    width: 100px;
                    padding: 15px;
                }
                
            }
        }
    }
    .faculty_tab{
        .big-img{
            padding: 0 85px;
            
        }
    }
}



.section2{
    .abs_wavebot{
        transform: translateY(99%);
        bottom: 0;
    }
}

.reuseflexc{
    .img-box{
        &.overtitleimg{
            width: 50px;
            margin-bottom: 20px;
        }
    }
    .redtext{
        background-color: $hoverbrowsebgcolor;
    }

    .timeline{
        text-align: center;
        .up{
            margin-left: $timeline_descr_margin;
        }
        .down{
            margin-right: $timeline_descr_margin;
        }
        @media screen and (max-width: 960px){
            .flex{
                flex-wrap: nowrap;
            }
            .timeline_descr{

            }
            .undertitles{
                display: none;
            }
        }
        .timeline_descr{
            margin: 0;
            padding: 30px;
            
            .undertitles{
                color: $fontwhiteop;
            }
        }
    }
}

.upcoming_events{
    .flexc{
        margin-bottom: 0;
    }
    .events_list{
        @media screen and (max-width: 960px){
            flex-wrap: wrap;
            margin: auto;
            justify-content: space-around;
        }
    }
    .event{
        position: relative;
        margin: 15px;
        background-color: $bgwhite;
        border-radius: 10px;
        padding: 25px;
        h4{
            color: $fontdarkgrey;
        }
        .undertitles{
            color: $fontgreyblue2;
            &.event_date{
                font-size: 10px;
            }
        }
        .event_descr {
            height: 40px;
            width: 240px;
            position: relative;
            overflow: hidden;
            padding-right: 0; /* space for ellipsis */
        }
        .event_descr::before {
            position: absolute;
            content: "[...]";
            inset-block-end: -3px; /* "bottom" */
            inset-inline-end: 9px; /* "right" */
        }
        .buttons{
            position: absolute;
            bottom: 0;
            transform: translate(50%, 50%);
            padding: 0;
        }
    }
}


.section3{
    .white_spacing{
        margin: 50px 0;
        .big-img{
            padding: 30px;
        }
        .descr{
            margin-top: 80px;
        }
    }
    @media screen and (min-width: 651px) and (max-width: 960px){
        .buttons{
            justify-content: center;
        }
    }
}
.latest_courses{
    margin-top: 50px;
    width: 100%;

    .flexc{
        &.unset{
            align-items: unset;
        }
    }
    
    .img-box{
        width: 100px;
        padding: 20px;
    }

    .course_list{
        width: inherit;
        white-space: nowrap;
        .course{
            padding: 20px;
            .flexc{
                align-items: center;
            }
            .undertitles{
                font-size: 10px;
                span{
                    font-weight: 900;
                }
            }
        }
    }
}

.section4{
    .flex{
        flex-wrap: wrap;
    }
    .input{
        position: relative;
        input{
            width: 100%;
            font-size: 12;
            outline: none;
        }
        .logo_box{
            position: absolute;
            right: -1;
            padding: 17px 18px;
            border-radius: 50%;
            background-color: $bgyellow;
            
            &:hover{
                cursor: pointer;
                -webkit-box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15); 
                box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
                background-color: $bgsalmon;
            }
            i{
                font-size: 20;
                color: $fontwhite;
            }
        }
    }
}
.section5{
    padding-bottom: 200px;
    .undertitles{
        width: 400px;
        text-align: center;
    }
    .partners_list{
        align-items: center;
        height: 45px;
        padding: 50px 0;
        .img-box{
            transition: color $transition_duration;
            opacity: .3;
            padding: 20px;
            img{
                max-height: 45px;
            }
            &:hover{
                opacity: 1;
            }
        }
    }
}