//bg
$bgwhite: #FFFFFF;
$bgwhiteop: #FFFFFF80;
$bgyellow: #E9D758;
$bgsalmon: #E56768;
$bgsalmonop: #DA5F60E6;
$bgdarkgrey: #454545;
$bgdarkgreyblue: #3D404F;
$bgblack: black;

//fontcolor
$fontwhite: WHITE;
$fontwhiteop: #FFFFFFCC;
$fontyellow: #E9D758;
$fontgreen: #79B530;
$fontsalmon: #E56768;
$fontgrey: #8B8B8A;
$fontgrey2: #7F7F7F;
$fontgreyblue: #74777B;
$fontgreyblue2: #70727E;
$fontgreyblue3: #5C5E6C;
$fontdarkgrey: #454545;
$fontdarkgreyblue: #3D404F;
$fontdarkgrey2: #3F3F3F;
$fontdarkgreyblue: #223441;
$fontblacks2: #252525;
$fontblacks: #151515;
$fontblack: black;

//fill colors
$fcolorwhite: white;
$fcolorlightgreen: #69DE89;
$fcolorgreen: #82B541;
$fcolorsalmon : #E56768;
$fcolorblack : black;

//border colors
$bcolorwhite: white;
$bcolorwhite2: #ECECEE;
$bcolorwhiteblue: #E5ECEF;
$bcolorwhite3: #EAEAEA;
$bcoloryellow: #E9D758;
$bcolorlightgrey: #CCCCCC;
$bcolorgreen: #79B530;
$bcolorsalmon: #E56768;
$bcolorblack: black;