//font
$colorfontblue: #3E5097;
$font_primary: 'Fredoka One', cursive;
$font_secondary:'Open Sans', sans-serif;

$font_size: 12;
//$font_sizemap: ("regular": 12, "uthero": 16, "h1": 48, "h2": 38, "h3": 16);
// map.get($font_sizemap, "regular");
$font_sizeuthero: 16;
$font_sizeutmain: 12;
$font_sizebtn: 12;

$font_sizeh1: 48;
$font_sizeh2: 38;
$font_sizeh3: 16;
$font_sizeh4: 22;

$line_height: 1.8;
$fontbold: 800;
$fontboldh1: 900;
$fontboldh2: 700;
$fontsmall: 12;
 
$timeline_descr_margin: 200px;


$transition_duration: 0.25s;


