
//font
$colorfontblue: #3E5097;
$font_primary: 'Fredoka One', cursive;
$font_secondary: 'Roboto', sans-serif;
$font_size: 14;
$font_sizeh1: 35;
$font_sizeh2: 20;

$line_height: 1.5;
$fontbold: 800;
$fontboldh1: 900;
$fontboldh2: 700;
$fontsmall: 12;
 

//btn
$colorbtn: #2E4790;
$bgbtngoogle: white;
$colorbtngoogle: #3D58AA;

$spacing: 20px;
$separator_color: rgba(0, 0, 0, 0.2);
$transition_duration: 0.25s;


